$colors: (
  text-primary: #ffffff,
);

@function getColor($value) {
  @return map-get($map: $colors, $key: $value);
}

.form-container {
  display: flex;
  flex-direction: column;
  color: getColor(text-primary);
  * {
    padding: 1% 0;
    width: 100%;
  }
}