<form [formGroup]="login_form" (submit)="onLogin()">
  <div class="form-container">
    <mat-form-field>
      <div
        [ngClass]="{
          'has-error':
            login_form.controls.email.errors && login_form.controls.email.dirty,
          'has-success':
            login_form.controls.email.valid && login_form.controls.email.dirty
        }"
      >
        <input
          matInput
          type="email"
          name="email"
          placeholder="*Email"
          formControlName="email"
        />
      </div>
    </mat-form-field>
    <div>
      <ul class="help-block">
        <li
          *ngIf="
            login_form.controls.email.errors?.required &&
            login_form.controls.email.dirty
          "
        >
          This field is required.
        </li>
      </ul>
    </div>

    <mat-form-field>
      <div
        [ngClass]="{
          'has-error':
            login_form.controls.password.errors &&
            login_form.controls.password.dirty,
          'has-success':
            login_form.controls.password.valid &&
            login_form.controls.password.dirty
        }"
      >
        <input
          matInput
          type="password"
          name="password"
          placeholder="*Password"
          formControlName="password"
        />
      </div>
    </mat-form-field>
    <div>
      <ul class="help-block">
        <li
          *ngIf="
            login_form.controls.password.errors?.required &&
            login_form.controls.password.dirty
          "
        >
          This field is required.
        </li>
      </ul>
    </div>
    <div class="button">
      <button
        mat-raised-button
        [disabled]="!login_form.valid || processing"
        type="submit"
        color="primary"
      >
        Login
      </button>
    </div>
  </div>
</form>
