<form [formGroup]="signup_form" (submit)="register()">
  <div class="form-container">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="first_name"
        placeholder="First Name"
        formControlName="first_name"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        name="last_name"
        placeholder="Last Name"
        formControlName="last_name"
      />
    </mat-form-field>

    <mat-form-field>
      <div
        [ngClass]="{
          'has-error':
            (signup_form.controls.email.errors &&
              signup_form.controls.email.dirty) ||
            signup_form.controls.email.dirty,
          'has-success': !signup_form.controls.email.errors
        }"
      >
        <input
          matInput
          type="email"
          name="email"
          placeholder="*Email"
          formControlName="email"
        />
      </div>
    </mat-form-field>

    <div>
      <ul class="help-block">
        <li
          *ngIf="
            signup_form.controls.email.errors?.required &&
            signup_form.controls.email.dirty
          "
        >
          This field is required
        </li>
        <li
          *ngIf="
            ((signup_form.controls.email.errors?.minlength &&
              signup_form.controls.email.dirty) ||
              (signup_form.controls.email.errors?.maxlength &&
                signup_form.controls.email.dirty)) &&
            signup_form.controls.email.dirty
          "
        >
          Minimum characters: 6, Maximum characters: 251
        </li>
        <li
          *ngIf="
            signup_form.controls.email.errors?.validateEmail &&
            signup_form.controls.email.dirty
          "
        >
          This must be a valid e-mail
        </li>
      </ul>
    </div>

    <mat-form-field>
      <div
        [ngClass]="{
          'has-error':
            signup_form.controls.password.errors &&
            signup_form.controls.password.dirty,
          'has-success': !signup_form.controls.password.errors
        }"
      >
        <input
          matInput
          type="password"
          name="password"
          placeholder="*Password"
          formControlName="password"
        />
      </div>
    </mat-form-field>
    <div>
      <ul class="help-block">
        <li
          *ngIf="
            signup_form.controls.password.errors?.required &&
            signup_form.controls.password.dirty
          "
        >
          This field is required
        </li>
        <li
          *ngIf="
            (signup_form.controls.password.errors?.minlength &&
              signup_form.controls.password.dirty) ||
            (signup_form.controls.password.errors?.maxlength &&
              signup_form.controls.password.dirty)
          "
        >
          Minimum characters: 8, Maximum characters: 35
        </li>
        <li
          *ngIf="
            signup_form.controls.password.errors?.validatePassword &&
            signup_form.controls.password.dirty
          "
        >
          Password must be at least 8 characters but no more than 35
        </li>
        <li
          *ngIf="
            signup_form.controls.password.errors?.validatePassword &&
            signup_form.controls.password.dirty
          "
        >
          Password must contain 1 Uppercase letter, 1 special character and 1
          digit
        </li>
      </ul>
    </div>

    <mat-form-field>
      <div
        [ngClass]="{
          'has-error':
            (signup_form.controls.confirm.errors &&
              signup_form.controls.confirm.dirty) ||
            (signup_form.errors?.matchingPasswords &&
              signup_form.controls.confirm.dirty),
          'has-success':
            !signup_form.controls.confirm.errors &&
            !signup_form.errors?.matchingPasswords
        }"
      >
        <input
          matInput
          type="password"
          name="confirm"
          placeholder="*Confirm Password"
          formControlName="confirm"
        />
      </div>
    </mat-form-field>
    <div>
      <ul class="help-block">
        <li
          *ngIf="
            signup_form.controls.confirm.errors?.required &&
            signup_form.controls.confirm.dirty
          "
        >
          This field is required
        </li>
        <li
          *ngIf="
            signup_form.errors?.matchingPasswords &&
            signup_form.controls.confirm.dirty
          "
        >
          Password do not match
        </li>
      </ul>
    </div>

    <div class="button">
      <button
        mat-raised-button
        [disabled]="!signup_form.valid || processing"
        type="submit"
        color="primary"
      >
        Sign Up
      </button>
    </div>
  </div>
</form>
