<div id="bg-1">
  <div class="firework">
    <div class="before"></div>
    <div class="after"></div>
  </div>
</div>

<div id="bg-2"></div>

<section>
  <div fxLayout="row" fxLayout.lt-md="column" fxFlexFill>
    <div fxFlex="60" fxLayout="column" fxLayoutAlign="start start" class="desc">
      <h1>Welcome</h1>
      <mat-list>
        <h3>Sign up to get the insights of links</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>business</mat-icon>
          <h4 mat-line>Brand</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>track_changes</mat-icon>
          <h4 mat-line>Track</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>update</mat-icon>
          <h4 mat-line>Optimize</h4>
        </mat-list-item>
      </mat-list>
    </div>

    <div fxFlex="40" fxLayout="column" fxLayoutAlign="start center">
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="SignUp"> <app-signup></app-signup> </mat-tab>
        <mat-tab label="Login"> <app-login></app-login> </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
