$colors: (
  primary: #303f9f,
  primary-light: lighten(#303f9f, 40%),
  primary-dark: darken(#303f9f, 40%),
  text-primary: #ffffff,
);

@function getColor($value) {
  @return map-get($map: $colors, $key: $value);
}

:host {
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  #bg-1 {
    z-index: -1;
    clip-path: polygon(0 0, 65% 0, 50% 100%, 0% 100%);
    background-color: getColor(primary);
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #bg-2 {
    z-index: -1;
    clip-path: polygon(65% 0, 100% 0%, 100% 100%, 50% 100%);
    background-color: getColor(primary-dark);
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

section {
  height: 100%;

  .desc {
    color: getColor(text-primary);
    padding: 20px;

    h1 {
      font-size: 3em;
      padding: 4% 0;
    }
  }

  mat-tab-group{
    width:75%;
  }
}
